body {
	font-family: Verdana;
	font-size: 11px;
}
h1 {
	font: Georgia;
	font-style: italic;
}

#container {
	border: 1px solid #000000;
	margin: 0 auto;
	padding: 15px;
	position: relative;
	width: 1000px;
	height: 700px;
	float: left;
}

#rightcontainer {
	float: left;
	width: 200px;
	height: 500px;
}

#recap {
	width: 200px;
	height: 220px;
	float: left;
	margin-left: 40px;
	border: 1px dotted #000000;
	padding: 10px;
	text-align: justify;
}

#legenda {
	width: 200px;
	height: 35px;
	float: left;
	margin-left: 40px;
	border: 1px dotted #000000;
	padding: 10px;
	text-align: justify;
}

#indici {
	width: 200px;
	height: 170px;
	float: left;
	margin-left: 40px;
	border: 1px dotted #000000;
	padding: 10px;
	text-align: justify;
}

.hoverinfo {
	font-weight:bold;
	text-align: center;
}

.hoverinfo_no {
	font-size: 13px;
	font-style:italic;
}
